@import "./../../style/global.scss";
.topBar {
  width: 100%;
  height: 70px;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0px #000;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: all 1s ease;
  .wrapper {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      .Logo {
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        svg {
          padding-left: 2rem;
        }
        span {
          font-size: 15px;
        }
      }
    }
    .right svg {
      font-size: x-large;
      color: $mainColor;
      cursor: pointer;
      transition: all 1s ease ;
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger svg {
      color: white;
    }
  }
}
