@import "./../../style/global.scss";

.skills {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px #00000075;

    @include mobile{
      font-size: 27px;
    }
  }
  ul {
    margin: 10px;
    padding: 0px;
    list-style: none;
    display: flex;

    @include mobile{
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 14px;
      margin-right: 5px;
      padding: 10px 30px;
      border-radius: 10px;
      cursor: pointer;
      font-size: large;
      font-weight: bold;

      &.active {
        background-color: $mainColor;
        color: white;
      }
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    .item {
      width: 100%;
      height: 200px;
      background-color: $mainColor;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      padding: 1rem;

      @include mobile {
        height: 140px;
        overflow-y: scroll;
        // padding-top: 40px;
      }
      
      h3 {
        position: absolute;
        font-size: 20px;
      }
      span {
        font-size: 20px;
        text-align: end;

        @include mobile{
          font-size: 13px;
        }
      }
    }
  }
}

