@import "./../../style/global.scss";
.certificate {
    background-color: #fffcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    @include mobile{
      gap:0px
    }

    h1{
      text-shadow: 2px 2px 4px rgb(0 0 0 / 46%);

      @include mobile {
        font-size: 27px;
      }
    }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

     @include mobile{
      flex-direction: column;
     }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
      flex: 4;
      width: fit-content;
      height: fit-content;
      img {
        width: 80%;
        height: 80%;
        box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.452);

        @include mobile{
          width: 100%;
        }
      }
    }

    .left {
      flex: 4;

      img {
        width: 80%;
        height: 80%;
        box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.452);
      
        @include mobile{
          width: 100%;
        }
      }
    }
  }
}
